.overview-container {
  position: relative;
  width: 100%;
  max-width: var(--max-width);
  margin: calc(4 * var(--grid-column-width)) auto 0;
  padding-inline: var(--grid-gutter-width);
  display: grid;
  grid-template-rows: repeat(4, var(--grid-column-width));
  column-gap: var(--grid-column-width);

  @media screen and (max-width: 900px) {
    margin: calc(3 * var(--grid-column-width)) auto 0;
    grid-template-rows: repeat(6, var(--grid-column-width));
    column-gap: 0;
  }

  @media screen and (max-width: 600px) {
    grid-template-rows: repeat(7, var(--grid-column-width));
  }

  .overview-container-title {
    position: relative;
    grid-row: 1 / span 4;

    @media screen and (max-width: 900px) {
      grid-row: 1 / span 4;
    }

    .section-title div {
      &:first-child {
        width: calc(4 * var(--grid-column-width));
      }

      &:nth-child(2) {
        width: calc(7 * var(--grid-column-width));
      }

      &:nth-child(3) {
        margin-left: var(--grid-column-width);
        width: calc(5 * var(--grid-column-width));
      }

      &:nth-child(4) {
        width: calc(1 * var(--grid-column-width));
      }
    }
  }

  .overview-container-description {
    position: relative;
    grid-row: 1 / span 4;
    max-width: calc(5 * var(--grid-column-width));
    align-self: end;
    margin-bottom: var(--grid-column-width);
    font: var(--font-body);

    @media screen and (max-width: 900px) {
      max-width: calc(6 * var(--grid-column-width));
      grid-row: 5 / span 2;
      justify-self: end;
      margin-bottom: 0;
    }

    @media screen and (max-width: 600px) {
      grid-row: 6 / span 2;
    }

    p {
      line-height: 1.2;
    }
  }
}

.carousel-container {
  position: relative;
  margin: calc(2 * var(--grid-column-width)) auto 0;
  display: grid;
  justify-items: center;
  width: 100%;
  overflow: hidden;
  height: calc(7 * var(--grid-column-width));
  
  @media screen and (max-width: 600px) {
    height: calc(8 * var(--grid-column-width));
  }

  .carousel-card {
    --card-border-width: 6px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: calc(5 * var(--grid-column-width));
    height: calc((5 * var(--grid-column-width)) - (var(--card-border-width)));
    margin-top: calc((var(--card-border-width)));
    padding: var(--space-24);
    position: absolute;
    color: var(--color-black-primary);
    background-color: var(--color-white-primary);
    border-radius: var(--space-4);
    box-shadow: 0 0 0 2px var(--color-white-primary),
                0 0 0 4px var(--color-black-primary);

    z-index: var(--card-z-index);
    cursor: pointer;
    transform: translate(var(--card-translate-x), var(--card-translate-y));
    transition: all 0.8s ease;

    @media screen and (max-width: 600px) {
      height: calc(6 * var(--grid-column-width));
      width: calc(5 * var(--grid-column-width));
    }

    &.active {
      background-color: var(--color-black-primary);
      color: var(--color-white-primary);
    }

    &:not(.active):hover {
      transform: translate(var(--card-translate-x), calc(var(--card-translate-y) - 20px));
    }

    .carousel-card-top {
      display: flex;
      width: 100%;
      gap: var(--space-16);

      @media screen and (max-width: 600px) {
        gap: var(--space-4);
      }

      h3 {
        font: var(--font-weight-normal) var(--font-size-subtitle-scalable) /1.02 var(--font-regular);
        letter-spacing: -0.03em;
      }

      svg {
        min-width: 88px;
        height: 88px;

        @media screen and (max-width: 600px) {
          min-width: 40px;
          height: 40px;
        }
      }
    }

    .carousel-card-bottom {

      p {
        font: var(--font-body);
      }
    }
  }
}

.overview-marquee-container {
  margin-top: calc(1 * var(--grid-column-width));
  height: calc(2 * var(--grid-column-width));
  width: 100%;
  display: flex;
  align-items: center;
  overflow: hidden;
  background-color: var(--color-black-primary);

  .marquee-card {
    display: flex;
    align-items: center;
    background-color: var(--color-black-primary);
    gap: var(--space-48);
    padding-right: var(--space-48);
    @media screen and (max-width: 900px) {
      gap: var(--space-24);
      padding-right: var(--space-24);

    }
    color: var(--color-white-primary);

    .marquee-card-number {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      p {
        font-weight: var(--font-weight-normal);
        font-size: var(--font-size-marquee-scalable);
        font-family: var(--font-mono);
        line-height: 1;
        font-feature-settings: "tnum";
        font-variant-numeric: tabular-nums;
        letter-spacing: -.025em;
      }
    }

    .marquee-card-img svg {
      max-width: var(--font-size-marquee-scalable);
    }
  }
}